docs/Cloud Watchdog Alert.yml
app:
  description: 云监控
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Cloud Watchdog Alert
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.7@c4e7b999ae67bfc059f6f51630bed36def5a835d12b0251694f5784b5ff1cd95
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-webhook
        targetType: code
      id: 1764599696098-source-1764660568083-target
      selected: false
      source: '1764599696098'
      sourceHandle: source
      target: '1764660568083'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1764660568083-source-1764660684168-target
      selected: false
      source: '1764660568083'
      sourceHandle: source
      target: '1764660684168'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1764660684168-source-1764661231111-target
      selected: false
      source: '1764660684168'
      sourceHandle: source
      target: '1764661231111'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1764661231111-source-1764661236269-target
      selected: false
      source: '1764661231111'
      sourceHandle: source
      target: '1764661236269'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1764661236269-true-1764661904245-target
      source: '1764661236269'
      sourceHandle: 'true'
      target: '1764661904245'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1764661236269-5960d413-1ea0-4ea6-b16b-2194fa5b231e-1764662258818-target
      source: '1764661236269'
      sourceHandle: 5960d413-1ea0-4ea6-b16b-2194fa5b231e
      target: '1764662258818'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1764661236269-927ea5ae-ba6d-4246-9149-3b0b77478398-1764662429662-target
      source: '1764661236269'
      sourceHandle: 927ea5ae-ba6d-4246-9149-3b0b77478398
      target: '1764662429662'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1764661236269-false-1764662625232-target
      source: '1764661236269'
      sourceHandle: 'false'
      target: '1764662625232'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1764661904245-source-17646627629640-target
      source: '1764661904245'
      sourceHandle: source
      target: '17646627629640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1764662258818-source-17646629031790-target
      source: '1764662258818'
      sourceHandle: source
      target: '17646629031790'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 17646627629640-source-1764663027555-target
      source: '17646627629640'
      sourceHandle: source
      target: '1764663027555'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 17646629031790-source-1764663027555-target
      source: '17646629031790'
      sourceHandle: source
      target: '1764663027555'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1764662429662-source-1764663027555-target
      source: '1764662429662'
      sourceHandle: source
      target: '1764663027555'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1764662625232-source-1764663027555-target
      source: '1764662625232'
      sourceHandle: source
      target: '1764663027555'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        async_mode: true
        body:
        - name: evidence
          required: true
          type: object
        content_type: application/json
        headers: []
        method: POST
        params: []
        response_body: ''
        selected: false
        status_code: 200
        title: Webhook 触发器
        type: trigger-webhook
        variables:
        - label: raw
          required: true
          value_selector: []
          value_type: object
          variable: _webhook_raw
        - label: body
          required: true
          value_selector: []
          value_type: object
          variable: evidence
        webhook_debug_url: ''
        webhook_url: ''
      height: 128
      id: '1764599696098'
      position:
        x: 438.02899615850924
        y: 454.0726855050526
      positionAbsolute:
        x: 438.02899615850924
        y: 454.0726855050526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(evidence: object) -> dict:\n    import json\n    \n    # 把\
          \ evidence 对象转成 JSON 字符串，供 LLM 阅读\n    evidence_str = json.dumps(evidence,\
          \ ensure_ascii=False, indent=2)\n    \n    return {\n        \"evidence_str\"\
          : evidence_str\n    }"
        code_language: python3
        outputs:
          evidence_str:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1764599696098'
          - evidence
          value_type: object
          variable: arg1
      height: 50
      id: '1764660568083'
      position:
        x: 640.2979971809663
        y: 274.8216565741559
      positionAbsolute:
        x: 640.2979971809663
        y: 274.8216565741559
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1764660568083'
          - evidence_str
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: fbf0f443-13b7-40aa-92ce-c6dbde1c5677
          role: system
          text: "你是一个容器故障诊断专家。你的任务是分析容器故障证据，判断故障类型，并输出处理指令。\n现在前方容器出现问题，这是前方发回的采样数据\n\
            \n{{#1764660568083.evidence_str#}}\n\n---\n\n判断标准：\n【阈值标准】\n- CPU警告阈值：70%，严重阈值：90%\n\
            - 内存警告阈值：2G，严重阈值：2.5G\n\n【决策规则】\n1. 容器崩溃(exit_code非空) → command: RESTART\n\
            2. 资源使用 70%-90% → command: ALERT_ONLY\n3. 资源使用 >90% → command: RESTART\n\
            4. 已重启3次仍异常 → command: STOP\n5. 一切正常 → command: NONE\n\n【举例】\n证据：\n{\n\
            \  \"event_id\": \"evt_20251203_131100\",\n  \"timestamp\": \"2025-12-03T13:11:00.123456\"\
            ,\n  \"container\": {\n    \"id\": \"def456abc789\",\n    \"name\": \"\
            cpu-stress\",\n    \"image\": \"test/cpu-stress:latest\",\n    \"status\"\
            : \"running\",\n    \"running\": true,\n    \"restarting\": false,\n \
            \   \"paused\": false,\n    \"oom_killed\": false,\n    \"exit_code\"\
            : 0,\n    \"error\": \"\",\n    \"started_at\": \"2025-12-03T10:00:00.000000Z\"\
            ,\n    \"finished_at\": \"0001-01-01T00:00:00Z\",\n    \"restart_count\"\
            : 0,\n    \"restart_policy\": \"always\",\n    \"memory_limit\": 0,\n\
            \    \"cpu_limit\": 0,\n    \"ip_address\": \"172.17.0.3\",\n    \"ports\"\
            : {}\n  },\n  \"evidence\": {\n    \"exit_code\": 0,\n    \"oom_killed\"\
            : false,\n    \"error_message\": \"\",\n    \"cpu_percent\": \"95.2%\"\
            ,\n    \"memory_percent\": \"45.0%\",\n    \"memory_usage\": \"230MiB\
            \ / 512MiB\",\n    \"logs_tail\": \"2025-12-03 13:10:55 Running stress\
            \ test...\\n2025-12-03 13:10:58 CPU load: 95%\",\n    \"restart_count_24h\"\
            : 0,\n    \"health_check\": {\n      \"healthy\": true,\n      \"message\"\
            : \"ok\"\n    }\n  },\n  \"fault_type\": \"CPU_HIGH\",\n  \"thresholds\"\
            : {\n    \"cpu_warning\": 70,\n    \"cpu_critical\": 80,\n    \"memory_warning\"\
            : 70,\n    \"memory_critical\": 85\n  }\n}\n你的回复：\n{\n  \"fault_type\"\
            : \"CPU_HIGH\",\n  \"command\": \"ALERT_ONLY\",\n  \"params\": {\n   \
            \ \"container_name\": \"cpu-stress\",\n    \"current_cpu\": \"95.2%\"\
            ,\n    \"current_memory\": \"45.0%\",\n    \"retry_count\": 0\n  },\n\
            \  \"reason\": \"CPU使用率95.2%超过严重阈值80%，但容器健康检查正常且未崩溃，仅告警观察\"\n}\n---\n\
            证据：\n{\n  \"event_id\": \"evt_20251203_131300\",\n  \"timestamp\": \"\
            2025-12-03T13:13:00.123456\",\n  \"container\": {\n    \"id\": \"mno345pqr678\"\
            ,\n    \"name\": \"normal-app\",\n    \"image\": \"nginx:latest\",\n \
            \   \"status\": \"running\",\n    \"running\": true,\n    \"restarting\"\
            : false,\n    \"paused\": false,\n    \"oom_killed\": false,\n    \"exit_code\"\
            : 0,\n    \"error\": \"\",\n    \"started_at\": \"2025-12-01T00:00:00.000000Z\"\
            ,\n    \"finished_at\": \"0001-01-01T00:00:00Z\",\n    \"restart_count\"\
            : 0,\n    \"restart_policy\": \"always\",\n    \"memory_limit\": 536870912,\n\
            \    \"cpu_limit\": 0,\n    \"ip_address\": \"172.17.0.2\",\n    \"ports\"\
            : {\"80/tcp\": [{\"HostIp\": \"0.0.0.0\", \"HostPort\": \"80\"}]}\n  },\n\
            \  \"evidence\": {\n    \"exit_code\": 0,\n    \"oom_killed\": false,\n\
            \    \"error_message\": \"\",\n    \"cpu_percent\": \"5.0%\",\n    \"\
            memory_percent\": \"20.0%\",\n    \"memory_usage\": \"102MiB / 512MiB\"\
            ,\n    \"logs_tail\": \"2025-12-03 13:12:50 GET /index.html 200\\n2025-12-03\
            \ 13:12:55 GET /api/health 200\",\n    \"restart_count_24h\": 0,\n   \
            \ \"health_check\": {\n      \"healthy\": true,\n      \"message\": \"\
            HTTP 200\"\n    }\n  },\n  \"fault_type\": \"UNKNOWN\",\n  \"thresholds\"\
            : {\n    \"cpu_warning\": 70,\n    \"cpu_critical\": 90,\n    \"memory_warning\"\
            : 70,\n    \"memory_critical\": 85\n  }\n}\n你的回复：\n{\n  \"fault_type\"\
            : \"NO_ERROR\",\n  \"command\": \"NONE\",\n  \"params\": {\n    \"container_name\"\
            : \"normal-app\",\n    \"current_cpu\": \"5.0%\",\n    \"current_memory\"\
            : \"20.0%\",\n    \"retry_count\": 0\n  },\n  \"reason\": \"容器运行正常，CPU\
            \ 5.0%和内存20.0%均在阈值范围内，健康检查通过\"\n}"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output:
          schema:
            properties:
              command:
                description: 处理指令
                enum:
                - RESTART
                - STOP
                - ALERT_ONLY
                - NONE
                type: string
              fault_type:
                description: 故障类型
                enum:
                - OOM_KILLED
                - CPU_HIGH
                - MEMORY_HIGH
                - PROCESS_CRASH
                - HEALTH_FAIL
                - NO_ERROR
                type: string
              params:
                properties:
                  container_name:
                    description: 容器名称
                    type: string
                  current_cpu:
                    description: 当前CPU使用率
                    type: string
                  current_memory:
                    description: 当前内存使用率
                    type: string
                  retry_count:
                    description: 已重试次数
                    type: integer
                required:
                - container_name
                type: object
              reason:
                description: 诊断原因
                type: string
            required:
            - fault_type
            - command
            - params
            - reason
            type: object
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1764660684168'
      position:
        x: 845.2019158839598
        y: 475.0726855050526
      positionAbsolute:
        x: 845.2019158839598
        y: 475.0726855050526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(llm_output: str) -> dict:\n    import json\n    \n    # 解析\
          \ LLM 输出的 JSON\n    try:\n        if isinstance(llm_output, str):\n    \
          \        data = json.loads(llm_output)\n        else:\n            data\
          \ = llm_output\n    except:\n        # 解析失败，默认只告警\n        return {\n  \
          \          \"command\": \"ALERT_ONLY\",\n            \"fault_type\": \"\
          PARSE_ERROR\",\n            \"container_name\": \"unknown\",\n         \
          \   \"reason\": \"LLM输出解析失败\"\n        }\n    \n    # 提取字段\n    params =\
          \ data.get(\"params\", {})\n    \n    return {\n        \"command\": data.get(\"\
          command\", \"ALERT_ONLY\"),\n        \"fault_type\": data.get(\"fault_type\"\
          , \"UNKNOWN\"),\n        \"container_name\": params.get(\"container_name\"\
          , \"unknown\"),\n        \"current_cpu\": params.get(\"current_cpu\", \"\
          \"),\n        \"current_memory\": params.get(\"current_memory\", \"\"),\n\
          \        \"retry_count\": str(params.get(\"retry_count\", 0)),\n       \
          \ \"reason\": data.get(\"reason\", \"\")\n    }"
        code_language: python3
        outputs:
          command:
            children: null
            type: string
          container_name:
            children: null
            type: string
          current_cpu:
            children: null
            type: string
          current_memory:
            children: null
            type: string
          fault_type:
            children: null
            type: string
          reason:
            children: null
            type: string
          retry_count:
            children: null
            type: string
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1764660684168'
          - structured_output
          value_type: object
          variable: llm_output
      height: 50
      id: '1764661231111'
      position:
        x: 1004.9361469395491
        y: 274.8216565741559
      positionAbsolute:
        x: 1004.9361469395491
        y: 274.8216565741559
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 222b9541-17e3-4282-a360-5a29c4d71724
            value: RESTART
            varType: string
            variable_selector:
            - '1764661231111'
            - command
          id: 'true'
          logical_operator: and
        - case_id: 5960d413-1ea0-4ea6-b16b-2194fa5b231e
          conditions:
          - comparison_operator: is
            id: 4e6d366c-f446-4e71-8dbe-29248e431376
            value: STOP
            varType: string
            variable_selector:
            - '1764661231111'
            - command
          id: 5960d413-1ea0-4ea6-b16b-2194fa5b231e
          logical_operator: and
        - case_id: 927ea5ae-ba6d-4246-9149-3b0b77478398
          conditions:
          - comparison_operator: is
            id: bc76ae18-0c12-4da8-8dc5-408b5338759b
            value: ALERT_ONLY
            varType: string
            variable_selector:
            - '1764661231111'
            - command
          id: 927ea5ae-ba6d-4246-9149-3b0b77478398
          logical_operator: and
        selected: true
        title: 条件分支
        type: if-else
      height: 218
      id: '1764661236269'
      position:
        x: 1272.4624972536205
        y: 274.8216565741559
      positionAbsolute:
        x: 1272.4624972536205
        y: 274.8216565741559
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-71
            key: ''
            type: text
            value: "{\n  \"command\": {{#1764661231111.command#}},\n  \"container_name\"\
              : {{#1764661231111.container_name#}}\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://127.0.0.1:9999/action
        variables: []
      height: 120
      id: '1764661904245'
      position:
        x: 1592.521820764682
        y: 27.050450930359347
      positionAbsolute:
        x: 1592.521820764682
        y: 27.050450930359347
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-171
            key: ''
            type: text
            value: "{\n  \"command\": {{#1764661231111.command#}},\n  \"container_name\"\
              : {{#1764661231111.container_name#}}\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 2
        type: http-request
        url: http://127.0.0.1:9999/action
        variables: []
      height: 120
      id: '1764662258818'
      position:
        x: 1592.521820764682
        y: 225.22794925865202
      positionAbsolute:
        x: 1592.521820764682
        y: 225.22794925865202
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-322
            key: ''
            type: text
            value: "{\n  \"type\": \"alert\",\n  \"container_name\": {{#1764661231111.container_name#}},\n\
              \  \"fault_type\": {{#1764661231111.fault_type#}},\n  \"current_cpu\"\
              : {{#1764661231111.current_cpu#}},\n  \"current_memory\": {{#1764661231111.current_memory#}},\n\
              \  \"reason\": {{#1764661231111.reason#}}\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 3
        type: http-request
        url: http://127.0.0.1:9999/notify
        variables: []
      height: 120
      id: '1764662429662'
      position:
        x: 1592.521820764682
        y: 431.2506333216876
      positionAbsolute:
        x: 1592.521820764682
        y: 431.2506333216876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-479
            key: ''
            type: text
            value: "{\n  \"type\": \"recovery\",\n  \"container_name\": {{#1764661231111.container_name#}},\n\
              \  \"message\": \"容器运行正常，无需处理\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 4
        type: http-request
        url: http://127.0.0.1:9999/notify
        variables: []
      height: 120
      id: '1764662625232'
      position:
        x: 1587.9641527013002
        y: 637.1921467328467
      positionAbsolute:
        x: 1587.9641527013002
        y: 637.1921467328467
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-322
            key: ''
            type: text
            value: "{\n  \"type\": \"action_result\",\n  \"command\": {{#1764661231111.command#}},\n\
              \  \"container_name\": {{#1764661231111.container_name#}},\n  \"fault_type\"\
              : {{#1764661231111.fault_type#}},\n  \"reason\":{{#1764661231111.reason#}},\n\
              \  \"action_response\": {{#1764661904245.body#}}\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 3 (1)
        type: http-request
        url: http://127.0.0.1:9999/notify
        variables: []
      height: 120
      id: '17646627629640'
      position:
        x: 1973.166711230775
        y: 27.050450930359347
      positionAbsolute:
        x: 1973.166711230775
        y: 27.050450930359347
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-322
            key: ''
            type: text
            value: "{\n  \"type\": \"action_result\",\n  \"command\": {{#1764661231111.command#}},\n\
              \  \"container_name\": {{#1764661231111.container_name#}},\n  \"fault_type\"\
              : {{#1764661231111.fault_type#}},\n  \"reason\":{{#1764661231111.reason#}},\n\
              \  \"action_response\": {{#1764662258818.body#}}\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 3 (2)
        type: http-request
        url: http://127.0.0.1:9999/notify
        variables: []
      height: 120
      id: '17646629031790'
      position:
        x: 1973.166711230775
        y: 225.22794925865202
      positionAbsolute:
        x: 1973.166711230775
        y: 225.22794925865202
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1764661231111'
          - command
          value_type: string
          variable: command
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1764663027555'
      position:
        x: 2411.576858994883
        y: 431.2506333216876
      positionAbsolute:
        x: 2411.576858994883
        y: 431.2506333216876
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -289.5153120654753
      y: 281.83564818103787
      zoom: 0.39251871019596396
  rag_pipeline_variables: []
